[submodule "internal/gopsutil"]
	path = internal/gopsutil
	url = https://github.com/godoxy-app/gopsutil.git
[submodule "internal/go-oidc"]
	path = internal/go-oidc
	url = https://github.com/godoxy-app/go-oidc.git
[submodule "goutils"]
	path = goutils
	url = https://github.com/yusing/goutils.git
