compose.yml
!dev.compose.yml

bin/

./config/
./certs/
./error_pages/
./profiles/
./data/
./debug/
./logs/

.vscode/settings.json

!cmd/**/
!internal/**/

todo.md

.*.swp
mtrace.json
.env
*.env
.cursor/


dev-data/

RELEASE_NOTES.md
CLAUDE.md
.kilocode/**

!.trunk/configs

# generated CLI commands
cmd/cli/generated_commands.go
