autocert:
  provider: cloudflare
  email: ${CLOUDFLARE_EMAIL}
  domains:   # this has to match whats in the match domains section
    - ${MYWILDCARD_DOMAIN}
    - ${MY_DOMAIN}
  options:
    auth_token: ${CLOUDFLARE_TOKEN}
  resolvers:
    - 1.1.1.1:53
    - ${MY_INTERNAL_DNS1}
    - ${MY_INTERNAL_DNS2}
acl:
  default: deny    # by default no one is allowed in except fo the allow list
  allow_local: true
  log:
    stdout: true
    log_allowed: true
    keep: 7 days
    retention: 7 days
  allow:
    - cidr:192.168.0.0/16
    - ip:YOUREXTERNALIP
    - ip:127.0.0.1
    - cidr:172.16.0.0/12
entrypoint:
  support_proxy_protocol: false  # this should be false
  middlewares:
    - use: real_ip                    # use the real ip of the origin
      header: X-Real-IP
      from:
        - 127.0.0.1
        - 192.168.0.0/16
        - 10.0.0.0/8
        - 172.16.0.0/12
        - ${MY_EXTERNAL_CIDR}
      recursive: true
    - use: cidr_whitelist
      allow:
        - 127.0.0.1/8
        - 192.168.0.0/16
        - 10.0.0.0/8
        - 172.16.0.0/12
        - ${MY_EXTERNAL_CIDR}
      status: 403
      message: "Forbidden - your IP is not allowed"
    - use: RedirectHTTP
    - use: ModifyResponse
      set_headers:
        Access-Control-Allow-Methods: GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD
        Access-Control-Allow-Headers: "*"
        Access-Control-Allow-Origin: "*"
        Access-Control-Max-Age: 180
        Vary: "*"
        X-XSS-Protection: 1; mode=block
        Content-Security-Policy: object-src 'self'; frame-ancestors 'self' ${MY_WILDCARD_ADDRESS};
        X-Content-Type-Options: nosniff
        Permissions-Policy: vibrate=(self); geolocation=(self); midi=(self);
          notifications=(self); push=(self); vibrate=(self); fullscreen=(self);
          microphone=(); camera=(); magnetometer=(); gyroscope=(); speaker=();
        X-Frame-Options: SAMEORIGIN
        Referrer-Policy: same-origin
        Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
    - use: rate_limit
      average: 10
      burst: 20
      period: 5s
    - use: custom_error_page
      bypass: []
  access_log:
    format: combined
    path: /app/logs/entrypoint.log
    stdout: true
    keep: 30 days
providers:
  include:
    - hass.yml                    # my hass routing file for home assistant
  docker:
    local: ${DOCKER_HOST}

      # notification providers
  notification:
    - name: gotify
      provider: gotify
      token: ${GOTIFY_TOKEN}
      url: ${GOTIFY_URL}
  maxmind:
    account_id: ${GODOXY_MAXMIND_ACCOUNT_ID}
    license_key: ${GODOXY_MAXMIND_LICENSE_KEY}
    database: "geolite"
  agents:
    - ${REMOTESERVER1}
    - ${REMOTESERVER2}
homepage:
  use_default_categories: true
match_domains:
  - ${MY_DOMAIN} 
